:root{
    --cor1:#00b193;
    --cor2:#07d8b8;
    --cor3:#0effdc;
}

*{
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* form */
#event-description{
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6)), url("../img/foto1.jpeg");
    background-position: center;
    background-size: cover;
    height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:var(--cor1);



}

#disclaimer h2,
#disclaimer .Event-date{
    color: var(--cor3);
}

#disclaimer h2{
    font-size: 4rem;
    margin-bottom: 1rem;
}

#disclaimer .about-event{
    font-size: 1.3rem;
    text-transform: uppercase;
    max-width: 350px;
    font-weight: bold;
    margin-bottom: 1rem;
}


#disclaimer p{
    font-size: 1rem;
    margin-bottom: 0.3rem;
}

#disclaimer .Event-date{
    font-weight: bold;
}

#subscription-form{
    background-color: rgb(221, 221, 221);
    padding: 3rem;
    max-width: 22%;
}

#subscription-form p{
    font-size: 1.4rem;
    color: var(--cor1);
    margin-bottom: 2rem;
   
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3);
}

#form-group{
    display: flex;
    flex-direction: column;
    

}

.form-group label{
    color: var(--cor1);
  
    font-weight: bold;

}

.form-group input{
    padding: 5px 6px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 1rem;
    width: 100%;
    margin-top: 0.5rem;
}

#subscription-form .btn {
   background-color:var(--cor1);
   color: white;
   text-transform: uppercase;
   margin-top: 1rem;
   width: 100%;
   border: none;
   padding: 12px;
   cursor: pointer;
   opacity: 0.6;
}

#subscription-form .btn:hover{
    opacity: 1;
}

#location{
    display: flex;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6)), url("../img/foto2.jpeg");
    height: 400px;   
    background-position: center;
    background-size: cover;    
    
    color: #07d8b8;
}
hr{
    height: 5rem;
    background-color: black;
    border: none;
}




.list-banda{
    background-color: var(--cor2);
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.img{
    margin: 2rem;
    height: 300px;
    width: 350px;
    
}

#banda1{
 text-align: center;
 
}
#banda2{
    text-align: center;
    
}
#banda3{
    text-align: center;
    
}

#banda1,#banda2,#banda3 p{
    margin-bottom: 2rem;
}



#address{
   width: 100%;   
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}

#address i{
    font-size: 4rem;
    margin-right: 1rem;
}


#address-details{
    text-align: center;
    font-size: 2rem;
}

/* footer */

.footer{
    text-align: center;
    color:var(--cor1);
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer h3{
    font-size: 1.7rem;
    margin-bottom: 0.5rem;

}

.footer p:nth-child(2){
    margin-bottom: 1em;
    font-size: 1.2em;
}

.footer span{
    font-weight: bold;
}

/* mobile */

@media (max-width:450px){
   #event-description{
        flex-direction: column;
        height: auto;

    }

    #disclaimer{
        padding: 2em;
    }

    #disclaimer h2{
        margin-bottom: 0.5em;
    }

    #subscription-form{
        max-width: 70%;
        margin-bottom: 2em;
    }
    #location{
        flex-direction: column;
        height: auto;        
        padding: 2em 0;
    
    }
   #address{
    flex-direction: column;
    
   }
    #address-details p{
        font-size: 1rem;
        margin: 1rem;
    }
    .map iframe{
        width: 380px;
        height: 350px;
    }
   
}