:root{
    --cor1:#00b193;
    --cor2:#07d8b8;
    --cor3:#0effdc;
}

*{
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* form */
#event-description{
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6), url(../img/foto1.jpeg));
    background-position: center;
    background-size: cover;
    height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:var(--cor1);



}

#disclaimer h2,
#disclaimer .Event-date{
    color: var(--cor3);
}

#disclaimer h2{
    font-size: 4rem;
    margin-bottom: 1rem;
}

#disclaimer .about-event{
    font-size: 1.3rem;
    text-transform: uppercase;
    max-width: 350px;
    font-weight: bold;
    margin-bottom: 1rem;
}


#disclaimer p{
    font-size: 1rem;
    margin-bottom: 0.3rem;
}

#disclaimer .Event-date{
    font-weight: bold;
}

#subscription-form{
    background-color: rgb(221, 221, 221);
    padding: 2rem;
    max-width: 22%;
}

#subscription-form p{
    font-size: 1.4rem;
    color: var(--cor1);
    margin-bottom: 1rem;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3);
}

#form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

}

.form-group label{
    color: var(--cor1);
    margin-bottom: .3em;
    font-weight: bold;

}

.form-group input{
    padding: 5px 6px;
    border-radius: 5px;
    border: none;
    outline: none;
}

#subscription-form .btn {
    background-color:var(--cor1);
   color: white;
   text-transform: uppercase;
   margin-top: 1rem;
   width: 100%;
   border: none;
   padding: 12px;
   cursor: pointer;
   opacity: 0.6;
}

#subscription-form .btn:hover{
    opacity: 1;
}

#location{
    background-color: black;
    color: #07d8b8;
    height: 300px;
}
#address{
    background-color: purple;
}
